<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <base href="/">
  <title><%= title %></title>
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
</head>
<body ng-app="rsvp">
  <div class="container text-center"/>
    <div ui-view class="inner-container"></div>
  </div>
  <footer class="text-right">rgm &copy; 2015</footer>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="js/svc/invite.svc.js"></script>
  <script src="js/ctrl/rsvp.ctrl.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
