<form id="rsvp-form" ng-submit="next('rsvp.count')">
    <label>WILL YOU JOIN US?</label>
    <ul>
        <li>
            <label>
                <input type="radio" ng-model="formData.response" value="yes">
                Yes!
            </label>
        </li>
        <li>
            <label>
                <input type="radio" ng-model="formData.response" value="no">
                Unfortunately, we cannot attend.
            </label>
        </li>
    </ul>

    <button type="submit" class="btn">Next</button>
</form>