<form id="rsvp-form" class="name-form" ng-submit="search()">
    <p>WHAT IS YOUR NAME?</p>
    <p>
        <!--<label for="first">FIRST</label>-->
        <input type="text" placeholder="first name" class="form-control" id="first" name="first"
               ng-model="formData.first">
    </p>
    <p>
        <!--<label for="last">LAST</label>-->
        <input type="text" placeholder="last name" class="form-control" id="last" name="last"
               ng-model="formData.last">
    </p>
    <button type="submit" class="btn">Next</button>
</form>